{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Список заказов</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Стол</th>
            <th>Блюда</th>
            <th>Цена</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table_number }}</td>
            <td>
                <ul>
                    {% for item in order.items %}
                        <li>{{ item.name }} - {{ item.price }}₽</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order.total_price }} ₽</td>
            <td>
                <span class="badge 
                    {% if order.status == 'pending' %} bg-warning 
                    {% elif order.status == 'ready' %} bg-primary 
                    {% elif order.status == 'paid' %} bg-success 
                    {% endif %}">
                    {{ order.get_status_display }}
                </span>
            </td>
            <td>
                <a href="{% url 'order_edit' order.id %}" class="btn btn-sm btn-outline-primary">Изменить</a>
                <a href="{% url 'order_delete' order.id %}" class="btn btn-sm btn-outline-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'daily_revenue' %}" class="btn btn-success">Показать выручку</a>
<a href="{% url 'order_create' %}" class="btn btn-success">Добавить заказ</a>
{% endblock %}